.icon {
  display: block;

  width: 25px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.5);
  }

  @include on-table {
    width: 30px;
    height: 30px;
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }

  &--scroll-up {
    background-image: url(../images/icons/scroll_up.svg);
  }
}
