.info-panel {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include on-table {
    flex-direction: row;
    column-gap: 123px;
  }

  @include on-desktop {
    column-gap: 83px;
  }

  &--weight-text {
    font-weight: 600;
  }
}
