.section-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 60px;

  @include on-table {
    margin-bottom: 70px;
  }

  &__title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 28px;
    font-weight: 700;
    font-style: Bold;
    line-height: 125%;
    color: $section-header-color;

    @include on-table {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 120%;
    }
  }
}
