.text {
  font-family: Raleway, sans-serif;
  line-height: 150%;
  text-decoration: none;

  &--small {
    font-size: 14px;
  }

  &--white {
    color: $color-text-white;
  }

  &--orange {
    color: $color-text-orange;
  }

  &--gray {
    color: $color-text-gray;
  }

  &--black {
    color: $color-text-black;
  }

  &--bold {
    font-weight: 700;
  }

  &--hover {
    transition: all 0.3s;

    &:hover {
      color: $color-text-hover;
    }

    &:visited {
      color: $color-text-white;
    }
  }
}
