.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;

  @include on-desktop {
    padding-block: 26px;
  }

  &__icons {
    display: flex;
    gap: 40px;
  }

  &__button {
    cursor: pointer;

    display: flex;
    gap: 2px;
    align-items: center;

    border: none;

    font-family: Raleway, sans-serif;
    font-weight: 500;
    line-height: 150%;
    color: $color-text-white;

    background: #0000;

    &::after {
      content: '';
      width: 10px;
      height: 7px;
      background: url(../images/icons/dropdown.svg);
    }
  }
}
