.upcoming-events {
  &__card {
    @include on-table {
      grid-column: 1 / -1;
      flex-direction: row;
      gap: 30px;
      justify-content: start;
    }

    @include on-desktop {
      grid-column: span 10;
    }
  }
}
