$c-gray: #f1f5f4;
$button-color: #cd4d31;
$button-color-hover: #af3419;
$button-color-active: #ea340d;
$button-color-disabled: #dd836f;
$footer-color: #3f5252;
$color-text-white: #f1f5f4;
$color-text-orange: #cd4d31;
$color-text-gray: #504f5e;
$color-text-black: #1c1b29;
$color-text-hover: #c5c5c5;
$input-color: #1c1b29;
$input-color-hover: #cd4d31;
$input-color-focus: #cd4d31;
$header-color: #3f5252;
$line-color: #f1f5f4;
$menu-color: #3f5252;
$plan-a-visit-to-the-museum-color: #3f5252;
$section-header-color: #1c1b29;
